<div class="row">
  <div class="col-lg-5">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= header %></h3>
      </div>
      <%= form_for([:backoffice, @category]) do |f| %>
      <div class="panel-body">
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_field :description, class: "form-control", placeholder: 'Ex.: Utilidades Domésticas' %>
        </div>
      </div>
      <div class="panel-footer">
        <%= f.submit class: "btn btn-success"  %>
        <%= link_to fa_icon("arrow-left", text: "Voltar"), backoffice_categories_path, class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
