<%= form_for([:backoffice, @admin]) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
    <p class="help-block">Mínimo 6 caracteres</p>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-success" %>
    <%= link_to 'Voltar', backoffice_admins_path, class: "btn btn-primary" %>
  </div>
<% end %>
