<div class="row">
  <div class="col-lg-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= fa_icon("users") %>
          <%= t(Admin.model_name.human(count: Admin.count)) %>
        </h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-hover table-condensed">
            <thead>
              <tr>
                <th><%= t(Admin.human_attribute_name(:email)) %></th>
                <th>
                  <%= link_to fa_icon("plus-circle", text: "Novo Administrador"), new_backoffice_admin_path, class: "btn btn-success pull-right", style: "margin-top: -5px;" %>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @admins.each do |a| %>
              <tr>
                <td><%= a.email %></td>
                <td>
                  <%= link_to fa_icon("edit"),
                  edit_backoffice_admin_path(a),
                  class: "btn btn-xs btn-circle btn-warning" %>
                  <%= link_to fa_icon("trash"),
                  backoffice_admin_path(a),
                  method: :delete,
                  data: { confirm: "Tem certeza?" },
                  class: "btn btn-xs btn-circle btn-danger" %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-lg-6 text-left">
            <p><%= page_entries_info @admins %></p>
          </div>
          <div class="col-lg-6 text-right">
            <%= paginate @admins %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
