<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= admin_path %>">EscamboApp - Administrativo</a>
  </div>
  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <%= fa_icon("gears", text: "#{current_admin.name}") %>
        <%= fa_icon("caret-down") %>
      </a>
      <ul class="dropdown-menu dropdown-settings">
        <li>
          <%= link_to fa_icon("edit", text: "Editar Perfil"), edit_backoffice_admin_path(current_admin) %>
        </li>
        <li>
          <%= link_to fa_icon("power-off", text: "Logoff"), destroy_admin_session_path, method: :delete %>
        </li>
      </ul>
    </li>
  </ul>
</nav>
